@charset "utf-8";
@import url(reset.css);

body {
  margin: 0;
  height: 200vh; /* 전체 페이지용 */
}

  .letter-scene {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* 추가 */
  width: 100%; /* 추가 */
  top: 0; /* 추가 */
  left: 0; /* 추가 */
}

.envelope-wrap {
  position: relative;
  width: 400px;
  height: 400px;
}

.envelope-wrap img {
  position: absolute;
  left: 0;
  width: 100%;
}

.envelope-wrap img:nth-child(4) {
    width: 90%;
    position: absolute;
  left: 20px;
  /* transform: translate(-50%,-50%); */
    
}

/* 초기 상태 */
.envelope-body {
  opacity: 1;
  z-index: 2;
}

.envelope-flap {
  transform-origin: top center; /* 뚜껑이 위로 열림 */
  z-index: 3; /* 제일 위 */
}

.letter {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateY(120px); */
  z-index: 1;
}


.envelope-closed {
  opacity: 1;
  z-index: 4; 
}
